{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>Data</h2>

    <p>{{ data.name }}</p>
    <p>{{ data.age }}</p>
    <p>{{ data.email }}</p>
    <p>{{ data.phone }}</p>
    
{% endblock %}
